/* Header  */
* {
  margin: 0%;
  padding: 0%;
}

header {
  background-image: url(headerPhoto.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 200px;
}

#headerText {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: 5%;
}
#headerNav {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#headerMenu { 
  Margin: 10px;
  display: flex; 
  gap: 50px;
  list-style-type: none;
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
}

#headerListItem a {
  text-decoration: none;
  color: rgb(92, 158, 114);
}

#headerListItem a:visited {
  color: rgb(92, 158, 114);
}

#headerListItem a:hover {
  color:rgb(92, 158, 114); 
}

#headerListItem a:active {
  color: rgb(92, 158, 114);
}

/* Login page */

#loginTitle {
  background-color: #ffffff;
  text-align: center;
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  color: rgb(92, 158, 114);
}
.loginContainer {
  background-image: url(loginPhoto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

#loginCard { 
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  box-shadow: 10px 10px 17px 0px rgba(133,128,128,0.6);
  border-radius: 10px;
}

#loginCardTitle { 
  background-color: #ffffff;
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  color: rgb(92, 158, 114);
  margin-bottom: 20px;
}

#loginHeart { 
  color: rgb(92, 158, 114);
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
  font-size: 50px;
}

#loginText { 
  color: rgb(92, 158, 114);
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
}

#loginButton { 
  background-color: rgb(92, 158, 114);
  Margin-top: 10px;
  width: 100%;
  padding: 2%;
  margin-top: 30px;
  Border-radius: 10px;
  border: none;
  box-shadow: 10px 10px 17px 0px rgba(133,128,128,0.6);
}

/* register */

#registerTitle {
  background-color: #ffffff;
  text-align: center;
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  color: rgb(92, 158, 114);
}
.registerContainer {
  background-image: url(registerPhoto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

#registerCard { 
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  box-shadow: 10px 10px 17px 0px rgba(133,128,128,0.6);
  border-radius: 10px;
}

#registerCardTitle { 
  background-color: #ffffff;
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  color: rgb(92, 158, 114);
  margin-bottom: 20px;
}

#registerText { 
  color: rgb(92, 158, 114);
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
}

#registerButton { 
  background-color: rgb(92, 158, 114);
  Margin-top: 10px;
  width: 100%;
  padding: 2%;
  margin-top: 30px;
  Border-radius: 10px;
  border: none;
  box-shadow: 10px 10px 17px 0px rgba(133,128,128,0.6);
}

#errorMessage { 
  color:rgb(223, 7, 7);
  margin-top: 20px;

}

/* About US  */
#aboutUsTitle {
  background-color: rgb(92, 158, 114);
  text-align: center;
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  color: white;
}

#aboutUsPage { 
  height: 100vh;
} 

.aboutContainer {
  margin: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 100px;
  grid-gap: 50px;
}

#aboutCard { 
  border: 1px solid rgb(92, 158, 114);
  border-radius: 15px;
  box-shadow: 10px 10px 17px 0px rgba(133,128,128,0.6);
  height: fit-content;
}

#aboutTitle { 
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  color: rgb(92, 158, 114);
  margin: 15px;
}

#aboutText { 
  font-family: "Rakkas";
  color: rgb(70, 67, 67);
  font-style: normal;
  margin: 20px;
}

/* home */
#homeTitle {
  background-color: rgb(92, 158, 114);
  text-align: center;
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  color: white;
}
#homeSubtitle {
  background-color: rgb(92, 158, 114);
  text-align: center;
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 12px;
}

#homeInfoTitle {
  text-align: center;
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  color: rgb(92, 158, 114);
}


.homeInfoCard { 
  border: 1px solid rgb(92, 158, 114);
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px rgba(133,128,128,0.6);
  height: fit-content;
  margin: 3%;
}

#homeInfoContainer {
  Display: flex;
}

.homeInfoCardTitle { 
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  margin: 15px;
  color: rgb(92, 158, 114);
}

.homeInfoCardText { 
  font-family: "Rakkas";
  color: rgb(70, 67, 67);
  font-style: normal;
  margin: 20px;
}

#homeProductsTitle {
  background-color: rgb(92, 158, 114);
  text-align: center;
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  color: white;
}

#homeProductsSubtitle {
  background-color: rgb(92, 158, 114);
  text-align: center;
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 12px;
}

#homeSearchbarContainer {
  display: flex;
  justify-content: center;
  background-color:rgb(92, 158, 114);
}

#homeSearchbar {
  margin: 1%;
  width: 50%;
} 

#homeGridContainer {
  margin: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 4fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, auto));
  border: 2px solid red;
  
}

#homeGridTitle {
  text-align: center;
  align-items: center;
  font-family: "Rakkas";
  font-weight: 400;
  font-style: normal;
  color: rgb(92, 158, 114);
} 

#homeGridImg { 
  width: 50%;
}




/* footer */
#footer { 
  background-image: url(headerPhoto.png);
  text-align: center;
  color: white
}
